<footer>
  <div class="footer-container">
    <div class="footer-column brand">
      <h2>Flone.</h2>
      <p>
        &copy; 2025 Flone. <br />
        All Rights Reserved
      </p>
    </div>

    <div class="footer-column">
      <h4>About us</h4>
      <ul>
        <li><a href="#home">About us</a></li>
        <li><a href="#products">Store location</a></li>
        <li><a href="#about">Contact</a></li>
        <li><a href="#contact">Order tracking</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>Useful links</h4>
      <ul>
        <li><a href="#">Support policy</a></li>
        <li><a href="#">Size guide</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>Follow Us</h4>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>

    <div class="footer-column subscribe">
      <h4>Subscribe</h4>
      <p>Get email updates about our latest shop and special offers.</p>
      <div class="subscribe-form">
        <input type="email" placeholder="Enter your email here" />
        <button>SUBSCRIBE</button>
      </div>
    </div>
  </div>
</footer>
