.p-heading {
  margin-top: 20px;
  text-align: center;
}
.order-form {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  background: #fdfcfc;
  box-shadow: 7px 7px 15px #b3b1b1, -7px -7px 10px #f2efef;
}
.order-detail {
  padding: 20px;
  width: 50%;
}

.order-confirm {
  padding: 20px;
  width: 50%;
}
@media (max-width: 650px) {
  .order-form {
    flex-direction: column;
  }
  .order-detail {
    width: 100%;
  }
  .order-confirm {
    width: 100%;
  }
}
.summary-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.price {
  font-weight: bold;
}

.red {
  color: red;
}

.green {
  color: green;
  font-weight: bold;
}
.summary-row .transfer-logo {
  height: 50px;
}
.btn {
  border: 2px solid black;
  font-weight: 700;
  box-shadow: 0 0 7px black;
}
.btn:hover {
  background-color: black;
  color: #f8f6f6;
}
