<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">E-COMMERCE</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="mynavbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <div class="dropdown">
            <button
              class="btn dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
            >
              Men
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">T-shirt</a></li>
              <li><a class="dropdown-item" href="#">Suit</a></li>
              <li><a class="dropdown-item" href="#">Trouser</a></li>
              <li><a class="dropdown-item" href="#">Jacket</a></li>
              <li><a class="dropdown-item" href="#">Hoodie</a></li>
              <li><a class="dropdown-item" href="#">Shorts</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button
              class="btn dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
            >
              Women
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Top</a></li>
              <li><a class="dropdown-item" href="#">Slip</a></li>
              <li><a class="dropdown-item" href="#">Saree</a></li>
              <li><a class="dropdown-item" href="#">Skirt</a></li>
              <li><a class="dropdown-item" href="#">Bracelet</a></li>
              <li><a class="dropdown-item" href="#">Blouse</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Collection</a>
        </li>
        <li class="nav-item"></li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Contact</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="me-2" type="text" placeholder="Search" />

        <button class="btn">
          <a href=""><i class="fas fa-search" style="color: black"></i></a>
        </button>
        <button class="btn">
          <a href=""
            ><i
              class="fa-solid fa-cart-flatbed-suitcase"
              style="color: black; font-size: 20px; margin-top: 10px"
            ></i>
          </a>
        </button>
        <div class="dropdown" style="padding-right: 10px">
          <button
            class="btn dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
          >
            <i
              class="fa-solid fa-user"
              style="color: black; font-size: 20px; margin-top: 10px"
            ></i>
          </button>

          <ul class="dropdown-menu" style="margin-right: 40px">
            <li><a class="dropdown-item" href="#">Sign up</a></li>
            <li><a class="dropdown-item" href="#">Log in</a></li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</nav>
