<!-- Bootstrap Carousel -->
<div id="carouselExample" class="carousel slide mt-1" data-bs-ride="carousel">
  <!-- Carousel Inner -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="skirt.jpeg"
        class="d-block"
        style="width: 100%"
        alt="Slide 1 w-100"
      />
      <div class="carousel-caption">
        <p>Stylish</p>
        <h1>Male Clothes</h1>
        <p>30% off Summer Vacation</p>
        <button class="btn"><a href="">SHOP NOW</a></button>
      </div>
    </div>

    <div class="carousel-item">
      <img src="top.jpg" class="d-block w-100" alt="Slide 2" />
      <div class="carousel-caption">
        <p>Trendy Collection</p>
        <h1>New Arrivals</h1>
        <p>Shop Now and Save Big</p>
        <button class="btn"><a href="">SHOP NOW</a></button>
      </div>
    </div>

    <div class="carousel-item">
      <img src="t-shirt.jpeg" class="d-block w-100" alt="Slide 3" />
      <div class="carousel-caption">
        <p>Exclusive Deals</p>
        <h1>Limited Time Offers</h1>
        <p>Don't Miss Out!</p>
        <button class="btn"><a href="">SHOP NOW</a></button>
      </div>
    </div>
  </div>
  <!-- Previous & Next Controls -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<!--shipping deatils-->
<div class="container-shipping mt-5">
  <div class="shipping-column">
    <i class="fa-solid fa-truck-fast"></i>
    <div class="shipping-detail">
      <h4>Free Shipping</h4>
      <p>We Cover the Shipping, You Enjoy the Savings!</p>
    </div>
  </div>
  <div class="shipping-column">
    <i class="fa-solid fa-headset"></i>
    <div class="shipping-detail">
      <h4>Support 24/7</h4>
      <p>Support That Never Sleeps – Contact Us Anytime!</p>
    </div>
  </div>
  <div class="shipping-column">
    <i class="fa-solid fa-money-check-dollar"></i>
    <div class="shipping-detail">
      <h4>Free Return</h4>
      <p>Shop with Confidence – 100% Money-Back Guarantee!</p>
    </div>
  </div>
</div>
<br /><br /><br />
<!--cloth card-->
<div class="card-heading">
  <h1>NEW ARRIVAL</h1>
  <hr />
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga sint
    voluptates.
  </p>
</div>

<div class="container-product mt-3">
  <div class="card">
    <div class="cloth-hover">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1604436607823-d721dfe2df46?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image"
      />
    </div>
    <i class="fa-solid fa-heart icon"></i>
    <div class="card-body">
      <div class="price-container">
        <h4 class="card-title">Vogue Suits</h4>
        <small><s>$100</s></small>
        <h5>$49</h5>
      </div>
      <p>Dress like you’re already famous.</p>
      <div class="btn-container">
        <a href="#" class="btn buy-now">BUY NOW</a>
        <a href="#" class="btn cart">ADD TO CART</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="cloth-hover">
      <img
        class="card-img-top"
        src="https://plus.unsplash.com/premium_photo-1681990629570-f61cb943d898?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image"
      />
    </div>
    <i class="fa-solid fa-heart icon"></i>
    <div class="card-body">
      <div class="price-container">
        <h4 class="card-title">Vogue Suits</h4>
        <small><s>$100</s></small>
        <h5>$49</h5>
      </div>
      <p>Dress like you’re already famous.</p>
      <div class="btn-container">
        <a href="#" class="btn buy-now">BUY NOW</a>
        <a href="#" class="btn cart">ADD TO CART</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="cloth-hover">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1652290182860-d3e9fa95a11e?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image"
      />
    </div>
    <i class="fa-solid fa-heart icon"></i>
    <div class="card-body">
      <div class="price-container">
        <h4 class="card-title">Vogue Suits</h4>
        <small><s>$100</s></small>
        <h5>$49</h5>
      </div>
      <p>Dress like you’re already famous.</p>
      <div class="btn-container">
        <a href="#" class="btn buy-now">BUY NOW</a>
        <a href="#" class="btn cart">ADD TO CART</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="cloth-hover">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1576422612145-1966a3b4f700?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image"
      />
    </div>
    <i class="fa-solid fa-heart icon"></i>
    <div class="card-body">
      <div class="price-container">
        <h4 class="card-title">Vogue Suits</h4>
        <small><s>$100</s></small>
        <h5>$49</h5>
      </div>
      <p>Dress like you’re already famous.</p>
      <div class="btn-container">
        <a href="#" class="btn buy-now">BUY NOW</a>
        <a href="#" class="btn cart">ADD TO CART</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="cloth-hover">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1576017657772-d147b6e7c583?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image"
      />
    </div>
    <i class="fa-solid fa-heart icon"></i>
    <div class="card-body">
      <div class="price-container">
        <h4 class="card-title">Vogue Suits</h4>
        <small><s>$100</s></small>
        <h5>$49</h5>
      </div>
      <p>Dress like you’re already famous.</p>
      <div class="btn-container">
        <a href="#" class="btn buy-now">BUY NOW</a>
        <a href="#" class="btn cart">ADD TO CART</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="cloth-hover">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1576360751120-733f1175f3f4?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image"
      />
    </div>
    <i class="fa-solid fa-heart icon"></i>
    <div class="card-body">
      <div class="price-container">
        <h4 class="card-title">Vogue Suits</h4>
        <small><s>$100</s></small>
        <h5>$49</h5>
      </div>
      <p>Dress like you’re already famous.</p>
      <div class="btn-container">
        <a href="#" class="btn buy-now">BUY NOW</a>
        <a href="#" class="btn cart">ADD TO CART</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="cloth-hover">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1611085665029-8ee0591dc818?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image"
      />
    </div>
    <i class="fa-solid fa-heart icon"></i>
    <div class="card-body">
      <div class="price-container">
        <h4 class="card-title">Vogue Suits</h4>
        <small><s>$100</s></small>
        <h5>$49</h5>
      </div>
      <p>Dress like you’re already famous.</p>
      <div class="btn-container">
        <a href="#" class="btn buy-now">BUY NOW</a>
        <a href="#" class="btn cart">ADD TO CART</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="cloth-hover">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1592452880692-aa00984d3e8d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image"
      />
    </div>
    <i class="fa-solid fa-heart icon"></i>
    <div class="card-body">
      <div class="price-container">
        <h4 class="card-title">Vogue Suits</h4>
        <small><s>$100</s></small>
        <h5>$49</h5>
      </div>
      <p>Dress like you’re already famous.</p>
      <div class="btn-container">
        <a href="#" class="btn buy-now">BUY NOW</a>
        <a href="#" class="btn cart">ADD TO CART</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="cloth-hover">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1586253325839-0c4e905838e7?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image"
      />
    </div>
    <i class="fa-solid fa-heart icon"></i>
    <div class="card-body">
      <div class="price-container">
        <h4 class="card-title">Vogue Suits</h4>
        <small><s>$100</s></small>
        <h5>$49</h5>
      </div>
      <p>Dress like you’re already famous.</p>
      <div class="btn-container">
        <a href="#" class="btn buy-now">BUY NOW</a>
        <a href="#" class="btn cart">ADD TO CART</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="cloth-hover">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1590806829801-f9730fb3531d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image"
      />
    </div>
    <i class="fa-solid fa-heart icon"></i>
    <div class="card-body">
      <div class="price-container">
        <h4 class="card-title">Vogue Suits</h4>
        <small><s>$100</s></small>
        <h5>$49</h5>
      </div>
      <p>Dress like you’re already famous.</p>
      <div class="btn-container">
        <a href="#" class="btn buy-now">BUY NOW</a>
        <a href="#" class="btn cart">ADD TO CART</a>
      </div>
    </div>
  </div>
</div>
<br /><br />

<!-- blog heading -->
<div class="blog-heading">
  <h1>OUR BLOG</h1>
  <hr />
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga sint
    voluptates.
  </p>
</div>

<div class="container-blog">
  <div class="blog-card">
    <img
      src="https://plus.unsplash.com/premium_photo-1679429319088-7e2f80e70e9c?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
    />
    <div class="blog-card-detail">
      <h5 style="color: black">Style Speaks Louder Than Words</h5>
      <br />
      <p>BY SHOP ADMIN</p>
    </div>
  </div>
  <div class="blog-card">
    <img
      src="https://plus.unsplash.com/premium_photo-1679415150733-dd66dec8abfa?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
    />
    <div class="blog-card-detail">
      <h5 style="color: black">Wear the Trend, Own the Look</h5>
      <br />
      <p>BY SHOP ADMIN</p>
    </div>
  </div>
  <div class="blog-card">
    <img
      src="https://plus.unsplash.com/premium_photo-1679415150822-03ff2e779234?q=80&w=1574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
    />
    <div class="blog-card-detail">
      <h5 style="color: black">Beyond Fabric: The Art of Dressing</h5>
      <br />
      <p>BY SHOP ADMIN</p>
    </div>
  </div>
</div>
