<!--cloth card-->
<div class="card-heading">
  <h1>NEW ARRIVAL</h1>
  <hr />
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga sint
    voluptates.
  </p>
</div>

<div class="container-product mt-3">
  <div class="card">
    <div class="cloth-hover">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1604436607823-d721dfe2df46?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image"
      />
    </div>
    <i class="fa-solid fa-heart icon"></i>
    <div class="card-body">
      <div class="price-container">
        <h4 class="card-title">Vogue Suits</h4>
        <small><s>$100</s></small>
        <h5>$49</h5>
      </div>
      <p>Dress like you’re already famous.</p>
      <div class="btn-container">
        <a href="/buyform" class="btn buy-now" type="button">BUY NOW</a>
        <a href="/buyform" class="btn cart">ADD TO CART</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="cloth-hover">
      <img
        class="card-img-top"
        src="https://plus.unsplash.com/premium_photo-1681990629570-f61cb943d898?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image"
      />
    </div>
    <i class="fa-solid fa-heart icon"></i>
    <div class="card-body">
      <div class="price-container">
        <h4 class="card-title">Vogue Suits</h4>
        <small><s>$100</s></small>
        <h5>$49</h5>
      </div>
      <p>Dress like you’re already famous.</p>
      <div class="btn-container">
        <a href="#" class="btn buy-now">BUY NOW</a>
        <a href="#" class="btn cart">ADD TO CART</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="cloth-hover">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1652290182860-d3e9fa95a11e?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image"
      />
    </div>
    <i class="fa-solid fa-heart icon"></i>
    <div class="card-body">
      <div class="price-container">
        <h4 class="card-title">Vogue Suits</h4>
        <small><s>$100</s></small>
        <h5>$49</h5>
      </div>
      <p>Dress like you’re already famous.</p>
      <div class="btn-container">
        <a href="#" class="btn buy-now">BUY NOW</a>
        <a href="#" class="btn cart">ADD TO CART</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="cloth-hover">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1576422612145-1966a3b4f700?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image"
      />
    </div>
    <i class="fa-solid fa-heart icon"></i>
    <div class="card-body">
      <div class="price-container">
        <h4 class="card-title">Vogue Suits</h4>
        <small><s>$100</s></small>
        <h5>$49</h5>
      </div>
      <p>Dress like you’re already famous.</p>
      <div class="btn-container">
        <a href="#" class="btn buy-now">BUY NOW</a>
        <a href="#" class="btn cart">ADD TO CART</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="cloth-hover">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1576017657772-d147b6e7c583?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image"
      />
    </div>
    <i class="fa-solid fa-heart icon"></i>
    <div class="card-body">
      <div class="price-container">
        <h4 class="card-title">Vogue Suits</h4>
        <small><s>$100</s></small>
        <h5>$49</h5>
      </div>
      <p>Dress like you’re already famous.</p>
      <div class="btn-container">
        <a href="#" class="btn buy-now">BUY NOW</a>
        <a href="#" class="btn cart">ADD TO CART</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="cloth-hover">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1576360751120-733f1175f3f4?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image"
      />
    </div>
    <i class="fa-solid fa-heart icon"></i>
    <div class="card-body">
      <div class="price-container">
        <h4 class="card-title">Vogue Suits</h4>
        <small><s>$100</s></small>
        <h5>$49</h5>
      </div>
      <p>Dress like you’re already famous.</p>
      <div class="btn-container">
        <a href="#" class="btn buy-now">BUY NOW</a>
        <a href="#" class="btn cart">ADD TO CART</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="cloth-hover">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1611085665029-8ee0591dc818?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image"
      />
    </div>
    <i class="fa-solid fa-heart icon"></i>
    <div class="card-body">
      <div class="price-container">
        <h4 class="card-title">Vogue Suits</h4>
        <small><s>$100</s></small>
        <h5>$49</h5>
      </div>
      <p>Dress like you’re already famous.</p>
      <div class="btn-container">
        <a href="#" class="btn buy-now">BUY NOW</a>
        <a href="#" class="btn cart">ADD TO CART</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="cloth-hover">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1592452880692-aa00984d3e8d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image"
      />
    </div>
    <i class="fa-solid fa-heart icon"></i>
    <div class="card-body">
      <div class="price-container">
        <h4 class="card-title">Vogue Suits</h4>
        <small><s>$100</s></small>
        <h5>$49</h5>
      </div>
      <p>Dress like you’re already famous.</p>
      <div class="btn-container">
        <a href="#" class="btn buy-now">BUY NOW</a>
        <a href="#" class="btn cart">ADD TO CART</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="cloth-hover">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1586253325839-0c4e905838e7?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image"
      />
    </div>
    <i class="fa-solid fa-heart icon"></i>
    <div class="card-body">
      <div class="price-container">
        <h4 class="card-title">Vogue Suits</h4>
        <small><s>$100</s></small>
        <h5>$49</h5>
      </div>
      <p>Dress like you’re already famous.</p>
      <div class="btn-container">
        <a href="#" class="btn buy-now">BUY NOW</a>
        <a href="#" class="btn cart">ADD TO CART</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="cloth-hover">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1590806829801-f9730fb3531d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image"
      />
    </div>
    <i class="fa-solid fa-heart icon"></i>
    <div class="card-body">
      <div class="price-container">
        <h4 class="card-title">Vogue Suits</h4>
        <small><s>$100</s></small>
        <h5>$49</h5>
      </div>
      <p>Dress like you’re already famous.</p>
      <div class="btn-container">
        <a href="#" class="btn buy-now">BUY NOW</a>
        <a href="#" class="btn cart">ADD TO CART</a>
      </div>
    </div>
  </div>
</div>
<br /><br />
